*{
    border-radius: 0 !important;
}

h4 {
    margin-top: 5px;
    font-weight: bolder;
    padding: 8px;

}

button {
    margin: 10px;
    background-color: lightgrey;
    font-weight: bold;
}

totalNodes {
    color: brown;
}

.result {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bolder;
    align-self: center;
    padding-left: 30px;
    
}

.legend{
    margin-top: 50px;
    font-weight: bold;
    background-color: #E5E7E9 ;
    padding: 10px;
    width: 250px;
    font-size: 15px;
    margin-left: 10px;

}


.EF {
    color: rgba(46, 204, 113,   1);
    font-size: 13px;
    font-weight: bold;
}

.RF {
    color: rgba(231, 76, 60, 1);
    font-size: 13px;
    font-weight: bold;
}
.Slack {
    color: rgba(142, 68, 173, 1);
    font-size: 13px;
    font-weight: bold;
}

.Filesystem {
    color:rgba(243, 156, 18, 1);
    font-size: 13px;
    font-weight: bold;
}

.protection {
    font-weight: bolder;
    background: #E5E7E9 ;
    padding: 15px;
    border: 5px;
    margin-left: 10px;
    margin-top: 5px;
    height:210px;
    
}

.subsection {
    font-weight: bold;
    width:250px;
    margin-left: 10px;
}


select {
    margin-left: 10px;
    border: 10px solid #111;
    background: transparent;
    width: 250px;
    padding: 5px 10px 5px 5px;
    font-size: 15px;
    border: 1px solid #ccc;
    -webkit-appearance: none;
    -moz-appearance: none;
     background: url(/assets/downArrow.png) 96% / 15% no-repeat #eee;
  }
  
  .mat-slider-horizontal {
    width: 250px;
  }


