
<div class="container">
    

  <app-vsanef></app-vsanef>
  <p align="center" class="note"> 
    Note: This tool is to be used for vSAN Capacity approximation (Quick & Dirty tool).
    For actual sizing use <a href="https://vsansizer.vmware.com/login.html" target="_blank"> VMware vSAN sizer </a> 
</p>


  <a href="allflash" class="button">All Flash</a>
  <a href="hybrid" class="button">Hybrid</a>


  <router-outlet></router-outlet>

  
</div>      

<!--
<app-allflash></app-allflash>

<app-hybrid></app-hybrid>
-->