
<div class="container">

  
        <div class="row">
            <div class="col col-md-3">
                <div class="data" >  
                <h3> Hybrid </h3>
                <p> Number of Nodes </p> 
                <span> <input type="number" min="2" max="64" [(ngModel)]="hybrid.totalNodes" class="form-control" required
                    onKeyUp="if(this.value>64){this.value='64';}else if(this.value<2){this.value='2';}"
    id="totalNodes"> </span>
    
                <label> Number of Disk Group </label>
                <input type="number" min="1" max="5" [(ngModel)]="hybrid.totalDiskGroups" class="form-control" required
                onKeyUp="if(this.value>5){this.value='5';}else if(this.value<1){this.value='1';}"
    id="totalDGs">
    
                <label> Disk Quantity per Disk Group </label>
                <input type="number" min="1" max="7" [(ngModel)]="hybrid.disksPerDiskGroup" class="form-control" required
                onKeyUp="if(this.value>7){this.value='7';}else if(this.value<1){this.value='1';}"
    id="totalDisks">
    
                <label> Capacity Disk Size </label>
                <select class="input" id="Disks" [(ngModel)] = "hybrid.value" class="form-control" required>
                        <option value="400">400GB</option>
                        <option value="600">600GB</option>
                        <option value="800">800GB</option>
                        <option value="1200">1200GB</option>
                        <option value="1800">1800GB</option>
                  </select>    
        
                  <label> Failure to Tolerate </label>
                  <input type="number" min="1" max="3"  [(ngModel)]="hybrid.FTTvalue" class="form-control" required
                  onKeyUp="if(this.value>3){this.value='3';}else if(this.value<0){this.value='0';}"
    id="totalNodes">
    
                  <label> Space Efficiency </label>
                  <input type="number" min="1" max="3" step=".5" [(ngModel)]="hybrid.spaceSaveDC" class="form-control" required
                  onKeyUp="if(this.value>3){this.value='3';}else if(this.value<1){this.value='1';}"
    id="totalSpace">
                  
                  <button class="btn btn-large" (click)="usableSpace()"> Submit </button>
            </div>     
        </div>
        
        <div class="col col-md-6">
            
            <p class="result" align="center"> The effective capacity is {{ hybrid.effectiveSpace }} TB </p>
          <!--  <app-vsanchart></app-vsanchart> -->
            <div class="container" align="center">
                <canvas align="center" id="myChart" width="500" height="500"></canvas>
            </div>
        </div>
    
        <div class="col col-md-3">
            <div class="legend">
                <p class="EF"> Workload space     {{ hybrid.chartEF/1000 }} TB </p>
                <p class="RF"> Replica Workload {{ hybrid.chartRF/1000 }} TB </p>
                <p class="Slack"> HA and Maintenance   {{ hybrid.chartSlack/1000 }} TB  </p>
            </div>  
        </div>
    
    
    </div>         
    </div>
    
    
    