
<div class="container">

        <div class="row">
            <div class="col col-md-3" class="serverdata">
                    <div>
                        <h3> Hybrid </h3>
                    </div>    
                    <div>
                        <label class="subsection">  Number of Nodes </label>
                             <select class="input" [(ngModel)] = "hybrid.totalNodes" class="form-control" id="totalNodes" required>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                    <option value="31">31</option>
                                    <option value="32">32</option>
                                    <option value="33">33</option>
                                    <option value="34">34</option>
                                    <option value="35">35</option>
                                    <option value="36">36</option>
                                    <option value="37">37</option>
                                    <option value="38">38</option>
                                    <option value="39">39</option>
                                    <option value="40">40</option>
                                    <option value="41">41</option>
                                    <option value="42">42</option>
                                    <option value="43">43</option>
                                    <option value="44">44</option>
                                    <option value="45">45</option>
                                    <option value="46">46</option>
                                    <option value="47">47</option>
                                    <option value="48">48</option>
                                    <option value="49">49</option>
                                    <option value="50">50</option>
                                    <option value="51">51</option>
                                    <option value="52">52</option>
                                    <option value="53">53</option>
                                    <option value="54">54</option>
                                    <option value="55">55</option>
                                    <option value="56">56</option>
                                    <option value="57">57</option>
                                    <option value="58">58</option>
                                    <option value="59">59</option>
                                    <option value="60">60</option>
                                    <option value="61">61</option>
                                    <option value="62">62</option>
                                    <option value="63">63</option>
                                    <option value="64">64</option>
                                </select>
                    </div>
    
                    <div>
                        <label class="subsection"> Number of Disk Group </label>
                            <select class="input" [(ngModel)]="hybrid.totalDiskGroups" class="form-control" id="totalDGs" required>  
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                            </select>
                    </div>
    
                    <div>
                        <label class="subsection"> Disks per Disk Group </label>
                            <select class="input"  [(ngModel)]="hybrid.disksPerDiskGroup" class="form-control" id="totalDisks" required>        
                                    <option value="1">1</option>
                                    <option value="2" >2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                            </select>
                    </div>          
        
                    <div>
                        <label class="subsection"> Capacity Tier Disk Size </label>
                        <select class="input" id="Disks" [(ngModel)] = "hybrid.value" class="form-control" required>
                            <option value="1117.59">1.2TB HDD (1.1 TiB)</option>
                            <option value="1676.38">1.8TB HDD (1.7 TiB)</option>
                            <option value="931.32">1TB SSD (931 GiB)</option>
                            <option value="9313.20">10TB HDD (9.3 TiB)</option>
                            <option value="11175.87">12TB HDD (11.1 TiB)</option>
                            <option value="135.97">146GB HDD (136 GiB)</option>
                            <option value="2235.17">2.4TB HDD (2.2 TiB)</option>
                            <option value="1862.64">2TB HDD(1.9 TiB)</option>
                            <option value="279.40">300GB HDD (279 GiB)</option>
                            <option value="2793.97">3TB HDD (2.8 TiB)</option>
                            <option value="3725.29">4TB HDD (3.7 TiB)</option>
                            <option value="419.10">450GB HDD (419 GiB)</option>
                            <option value="465.66">500GB HDD (466 GiB)</option>
                            <option value="558.79">600GB HDD (559 GiB)</option>
                            <option value="5587.94">6TB HDD (5.6 TiB)</option>
                            <option value="7450.58">8TB HDD (7.4 TiB)</option>
                            <option value="838.19">900GB HDD (838 GiB)</option>
                        </select>     
                    </div>  
                 
                    
                    <div>    
                        <div class="subsection" class="protection">
                            <label> Failure Protection </label>
                                <form class="FTM-form">
                                    <fieldset id="FTM-Mirror">
                                        <label *ngIf ="hybrid.totalNodes >= 3">
                                        <input type="radio" value="2" name="FTM-Mirror" class="input" [(ngModel)]="hybrid.FTTvalue"> 
                                            FTT1-Two data copies
                                        </label> <br>
    
                                        <label *ngIf ="hybrid.totalNodes >= 5">
                                        <input type="radio" value="3" name="FTM-Mirror" class="input" [(ngModel)]="hybrid.FTTvalue"> 
                                            FTT2-Three data copies
                                        </label> <br>
    
                                        <label *ngIf ="hybrid.totalNodes >= 7">
                                        <input type="radio" value="4" name="FTM-Mirror" class="input" [(ngModel)]="hybrid.FTTvalue"> 
                                            FTT3-Four data copies
                                        </label> <br>
                                    </fieldset>
                                </form>
                        </div>
                    </div>
    
      
    
                    <div>
                        <button class="btn btn-large" (click)="usableSpace()"> Submit </button>
                    </div> 
                     
        </div>
     
                <div class="col col-md-6">
    
                <div class="result">
                    <p align="center"> The usable capacity is {{ hybrid.effectiveSpace }} TiB of {{ hybrid.rawCapacity }} TiB Raw </p>
                
                    <div class="result">
                        <canvas align="center" id="myChart" width="450" height="450"></canvas>
                    </div>
                </div>    
                </div>
            
                <div class="col col-md-3">
                    <div class="legend">
                        <p class="EF"> Workload space {{ hybrid.chartEF/1000  | number : '1.2-2' }} TiB </p>
                        <p class="RF"> Replica or Parity {{ hybrid.chartRF/1000   | number : '1.2-2' }} TiB </p>
                        <p class="Slack"> HA & Maintenance {{ hybrid.chartSlack/1000  | number : '1.2-2' }} TiB  </p>
                        <p class="Filesystem"> Filesystem {{ hybrid.chartFsUtil/1000   | number : '1.2-2' }} TiB  </p>
                    </div>  
                </div>
                    
        </div>
    
    </div>
    
        
        
        