*{
    border-radius: 0 !important;
}


h3 {
    margin-top: 10px;
    font-weight: bolder;
    padding: 15px;
    
}

button {
    margin: 10px;
    background-color: lightgrey;
}

.result {
    font-size: 30px;
    font-weight: bolder;
    align-self: center;
}

.legend{
    margin-top: 150px;
    margin-left: 25px;
    font-size: 12px;
    font-weight: bolder;
}

.EF {
    color: rgba(46, 204, 113,   1);
}

.RF {
    color: rgba(231, 76, 60, 1);
}
.Slack {
    color: rgba(142, 68, 173, 1);
}